* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: gray;
}

*::-moz-selection {
    background: gray;
}
 

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root{
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    cursor:default;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(218, 218, 218);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
}
.logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.logo img{
    height: 30%;
}
.heading{
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
}
.main-container{
    min-height: 100vh;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex;
    background-color: #ffffff;
}
h1{
    font-size: 5rem;
    height: 250px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-weight: 800;
}
.cards-container{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.cards{
    width: 250px;
    height: 350px;
    background-color: blue;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 0px 56px 59px 0px #9b9b9b;
    cursor: pointer;
}
.cards img{
    width: 100%;
    transition-duration: .3;
    z-index: 5;
}
.cards:hover img{
    transform: translateZ(200px);
    transition-duration: .3;
}
.red{
    background: linear-gradient(#ffaeaf,#ff1728);
}
.black{
    background: linear-gradient(#828282,black);
}
.green{
    background: linear-gradient(#edf7d8,#a4d534);
    
}
.productName{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    background: linear-gradient(#82828200,rgba(1, 1, 1, 0.515));
    padding: 20px 0px;
    transition-duration: .3;
    z-index: 2;
}
.cards:hover .productName{
    transform: translateZ(50px);
    background: none;
    transition-duration: .3;
}
.rating{
    font-size: 2rem;
}
/* responsive code below*/
@media screen and (max-width:1920px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width:1200px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 50%;
    }
 
}

@media screen and (max-width:500px) {
    html {
        font-size: 45%;  
    }
    h1{
        font-size: 4rem;
    }

}

@media screen and (max-width:430px) {
    html {
        font-size: 43%;
    }
    h1{
        font-size: 3.5rem;
    }
}

@media screen and (max-width:375px) {
    html {
        font-size: 40%;
    }
}
@media screen and (max-width:300px) {
    html {
        font-size: 40%;
    }
}

/* responsive code above */

